<div class="panel-heading separator">
    <h2>{tmpl_var name="list_head_txt"}</h2>
</div>

<div class="panel-body">
    <div class="panel panel-default">

        <div class="panel-heading separator"><h4>{tmpl_var name="list_head_txt"}</h4></div>
        <div class="container-fluid table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="caption">
                        <th class="tbl_col_name" scope="col">{tmpl_var name='name_txt'}</th>
                        <th class="tbl_col_version" scope="col">{tmpl_var name='version_txt'}</th>
                        <tmpl_if name='is_noclient'>
                        <!--<th class="tbl_col_customer" scope="col">{tmpl_var name='customer_txt'}</th>-->
                        </tmpl_if>
                        <th class="tbl_col_installlocation" scope="col">{tmpl_var name='install_location_txt'}</th>
                        <th class="tbl_col_instancestatus" scope="col">{tmpl_var name='status_txt'}</th>
                        <th class="tbl_col_limit" scope="col" >&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="filter">
                        <td class="tbl_col_name"><input class="form-control"  type="text" name="search_name" value="{tmpl_var name='search_name'}" /></td>
                        <td class="tbl_col_version"><input  class="form-control" type="text" name="search_version" value="{tmpl_var name='search_version'}" /></td>
                        <tmpl_if name='is_noclient'>
                            <!--<td class="tbl_col_customer"><input type="text" name="search_customer_name" value="{tmpl_var name='search_customer_name'}" /></td>-->
                        </tmpl_if>
                        <td class="tbl_col_installlocation">&nbsp;</td>
                        <td class="tbl_col_instancestatus"><select class="selectize form-control"  name="search_instance_status" onChange="submitForm('pageForm','sites/aps_installedpackages_list.php');">{tmpl_var name='search_instance_status'}</select></td>
                        <td class="tbl_col_buttons">
                            <button type="button" class="btn " name="Filter" id="Filter" value="{tmpl_var name='filter_txt'}" data-toggle="tooltip" title="{tmpl_var name='filter_txt'}" onclick="submitForm('pageForm','sites/aps_installedpackages_list.php');"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                    <tmpl_loop name='records'>
                        <tr>
                            <td class="tbl_col_name"><a href="#" onclick="loadContent('sites/aps_packagedetails_show.php?id={tmpl_var name='package_id'}');">{tmpl_var name='package_name'}</a></td>
                            <td class="tbl_col_version">{tmpl_var name='package_version'}-{tmpl_var name='package_release'}</td>
                            <tmpl_if name='is_noclient'>
                                <!--<td class="tbl_col_customer"><a href="#" onclick="loadContent('sites/aps_packagedetails_show.php?id={tmpl_var name='package_id'}');">{tmpl_var name='customer_name'}</a></td>-->
                            </tmpl_if>
                            <td class="tbl_col_installlocation"><a href="http://{tmpl_var name='install_location'}" target="_blank">{tmpl_var name='install_location_short'}</a></td>
                            <td class="tbl_col_instancestatus"><span id="status_content{tmpl_var name='__ROWNUM__'}">{tmpl_var name='instance_status'}</span></td>
                            <td class="tbl_col_buttons">
                                <tmpl_if name='delete_possible'>
                                    <a class="btn" data-toggle="tooltip" title="{tmpl_var name='delete_txt'}" href="javascript: del_record('sites/aps_do_operation.php?action=delete_instance&id={tmpl_var name='id'}','{tmpl_var name='pkg_delete_confirmation'}')"><span class="glyphicon glyphicon-remove"></span></a>
                                </tmpl_if>
                                <tmpl_if name='reinstall_possible'>
                                    <a class="btn" data-toggle="tooltip" title="{tmpl_var name='reinstall_txt'}" href="javascript: del_record('sites/aps_do_operation.php?action=reinstall_instance&id={tmpl_var name='id'}','{tmpl_var name='pkg_reinstall_confirmation'}')"><span class="glyphicon glyphicon-cd"></span></a>
                                </tmpl_if>
                            </td>
                        </tr>
                    </tmpl_loop>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="tbl_footer tbl_paging" colspan="6">{tmpl_var name='paging'}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>