<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <tmpl_if name="is_admin">
        <div class="form-group container-fluid">
            <tmpl_if name="edit_disabled">
                <label class="control-label col-md-2" for="server_id_disabled">{tmpl_var name='server_id_txt'}</label>
                <div class="col-md-3">
                    <select class="selectize form-control" name="server_id_disabled" id="server_id_disabled" disabled="disabled">
                        {tmpl_var name='server_id'}
                    </select>
                </div>
                <input type="hidden" name="server_id" value="{tmpl_var name='server_id_value'}" />
                <tmpl_else>
                    <label class="control-label col-md-2" for="server_id">{tmpl_var name='server_id_txt'}</label>
                    <div class="col-md-3">
                        <select class="selectize form-control" name="server_id" id="server_id">
                            {tmpl_var name='server_id'}
                        </select>
                    </div>
            </tmpl_if>
        </div>
    </tmpl_if>

    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="parent_domain_id">{tmpl_var name='parent_domain_id_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="parent_domain_id" id="parent_domain_id" >
                {tmpl_var name='parent_domain_id'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="type">{tmpl_var name='type_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="type" id="type" class=" formLengthHalf">
                {tmpl_var name='type'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="database_name">{tmpl_var name='database_name_txt'}</label>
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-addon">{tmpl_var name='database_name_prefix'}</div>
                <tmpl_if name="edit_disabled">
                    <input class="form-control" name="database_name" id="database_name" value="{tmpl_var name='database_name'}"  type="text" disabled="disabled" />

                    <input class="form-control" name="database_name" type="hidden" value="{tmpl_var name='database_name'}" />
                <tmpl_else>
                    <input class="form-control" name="database_name" id="database_name" value="{tmpl_var name='database_name'}"  type="text" />
                </tmpl_if>
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="database_user_id">{tmpl_var name='database_user_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="database_user_id" id="database_user_id">
                {tmpl_var name='database_user_id'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="database_ro_user_id">{tmpl_var name='database_ro_user_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="database_ro_user_id" id="database_ro_user_id" >
                {tmpl_var name='database_ro_user_id'}
            </select>
        </div>
        <span>&nbsp;{tmpl_var name='optional_txt'}</span>
    </div>
    <div class="form-group container-fluid">
        <tmpl_if name="edit_disabled">
            <label class="control-label col-md-2" for="database_charset_disabled">{tmpl_var name='database_charset_txt'}</label>
            <div class="col-md-3">
                <select class="selectize form-control" name="database_charset_disabled" id="database_charset_disabled"  disabled="disabled">
                    {tmpl_var name='database_charset'}
                </select>
            </div>
            <input type="hidden" name="database_charset" value="{tmpl_var name='database_charset_value'}" />
            <tmpl_else>
                <label class="control-label col-md-2" for="database_charset">{tmpl_var name='database_charset_txt'}</label>
                <div class="col-md-3">
                    <select class="selectize form-control" name="database_charset" id="database_charset">
                        {tmpl_var name='database_charset'}
                    </select>
                </div>
        </tmpl_if>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="remote_access_cb">
            {tmpl_var name='remote_access_txt'}
        </label>
        <div class="col-md-10">
            <div id="remote_access_cb" class="checkbox check-success">
                {tmpl_var name='remote_access'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="remote_ips">{tmpl_var name='remote_ips_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="remote_ips" id="remote_ips" value="{tmpl_var name='remote_ips'}" size="30" type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="active_cb">
            {tmpl_var name='active_txt'}
        </label>
        <div class="col-md-10">
            <div id="active_cb" class="checkbox check-success">
                {tmpl_var name='active'}
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','sites/database_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('sites/database_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>
<script type="text/javascript" src="../../js/jquery.ispconfigsearch.js"></script>
<script language="JavaScript" type="text/javascript">
    <tmpl_if name="is_admin">    
    function reloadDatabaseUsers() {
        var parentDomainId = jQuery('#parent_domain_id').val()
        jQuery.getJSON('sites/ajax_get_json.php'+ '?' + Math.round(new Date().getTime()), {web_id : parentDomainId, 'type': 'getdatabaseusers'}, function(data) {
            var options = '<option value=""></option>';
            $.each(data, function(key, val) {
                options += '<option value="'+key+'"'+ ($('#database_user_id').val() == key ? ' selected="selected"' : '') +'>'+val+'</option>';
            });
            $('#database_user_id').html(options).change();
            
            options = '<option value=""></option>';
            $.each(data, function(key, val) {
                options += '<option value="'+key+'"'+ ($('#database_ro_user_id').val() == key ? ' selected="selected"' : '') +'>'+val+'</option>';
            });
            $('#database_ro_user_id').html(options).change();
        });
    }
    jQuery('#parent_domain_id').change(function() { reloadDatabaseUsers(); });
    reloadDatabaseUsers();
    </tmpl_if>
    jQuery('#remote_ips').ispconfigSearch({
        dataSrc: '/sites/ajax_get_json.php?type=get_ipv4',
        resultsLimit: '$ <tmpl_var name="globalsearch_resultslimit_of_txt"> % <tmpl_var name="globalsearch_resultslimit_results_txt">',
        ResultsTextPrefix: '<tmpl_var name="globalsearch_suggestions_text_txt">',
        noResultsText: '<tmpl_var name="globalsearch_noresults_text_txt">',
        noResultsLimit: '<tmpl_var name="globalsearch_noresults_limit_txt">',
        minChars: 0,
        cssPrefix: 'df-',
        fillSearchField: true,
        fillSearchFieldWith: 'fill_text',
        searchFieldWatermark: '',
        resultBoxPosition: 'e'
    });
</script>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>