<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <tmpl_if name="is_admin">
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="client_group_id">{tmpl_var name='client_txt'}</label>
            <div class="col-md-3">
                <select class="selectize form-control" name="client_group_id" id="client_group_id" >
                    {tmpl_var name='client_group_id'}
                </select>
            </div>
        </div>
    </tmpl_if>
    <tmpl_if name="is_reseller">
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="client_group_id">{tmpl_var name='client_txt'}</label>
            <div class="col-md-3">
                <select class="selectize form-control" name="client_group_id" id="client_group_id" >
                    {tmpl_var name='client_group_id'}
                </select>
            </div>
        </div>
    </tmpl_if>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="database_user">{tmpl_var name='database_user_txt'}</label>
        <div class="col-md-6 ">
            <div class="input-group">
                <div class="input-group-addon">{tmpl_var name='database_user_prefix'}</div>
                <input class="form-control" name="database_user" id="database_user" value="{tmpl_var name='database_user'}" type="text" />
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="database_password">{tmpl_var name='database_password_txt'}</label>
        <div class="col-md-6">
            <div class="input-group">
                <input class="form-control" name="database_password" id="database_password" value="{tmpl_var name='database_password'}"  type="password"  autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('database_password','repeat_password');" />
                <div class="input-group-addon"><a href="javascript:void(0);" onclick="generatePassword('database_password','repeat_password');">{tmpl_var name='generate_password_txt'}</a></div>
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="passBar">{tmpl_var name='password_strength_txt'}</label>
        <div class="col-md-6">
            <div class="input-group">
                <div id="passBar"></div> <span> </span>
                <span class="help-block"><span id="passText">&nbsp;</span></span>
            </div>
        </div>
    </div>

    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="repeat_password">{tmpl_var name='repeat_password_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="repeat_password" id="repeat_password" value="" type="password" autocomplete="off" onkeyup="checkPassMatch('database_password','repeat_password');" />
        </div>
    </div>

    <div id="confirmpasswordError" style="display:none;" class="alert alert-warning">{tmpl_var name='password_mismatch_txt'}</div>
    <div id="confirmpasswordOK" style="display:none;" class="alert alert-success">{tmpl_var name='password_match_txt'}</div>


        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="container-fluid form-group">
            <div class="col-sm-offset-2">
                <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','sites/database_user_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
                <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('sites/database_user_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
            </div>
        </div>

</div>