<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="puser">{tmpl_var name='puser_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="puser" id="puser" value="{tmpl_var name='puser'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="pgroup">{tmpl_var name='pgroup_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="pgroup" id="pgroup" value="{tmpl_var name='pgroup'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="shell">{tmpl_var name='shell_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="shell" id="shell" value="{tmpl_var name='shell'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="dir">{tmpl_var name='dir_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="dir" id="dir" value="{tmpl_var name='dir'}"  type="text"  />
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','sites/shell_user_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('sites/shell_user_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>