<div class="panel-heading separator">
    <h3><tmpl_var name="list_head_txt"></h3>
</div>


<tmpl_if name="msg">
    <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
</tmpl_if>
<tmpl_if name="error">
    <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
</tmpl_if>


<div class="panel-body">
    <div class="panel panel-transparent">

        <div class="panel-heading separator"><h4><tmpl_var name="list_head_txt"></h4></div>
        <div class="container-fluid table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="caption">
                        <th class="tbl_col_date" scope="col"><tmpl_var name="date_txt"></th>
                        <th class="tbl_col_date" scope="col"><tmpl_var name="backup_type_txt"></th>
                        <th class="tbl_col_filename" scope="col"><tmpl_var name="filename_txt"></th>
                        <th class="tbl_col_limit" scope="col">{tmpl_var name='search_limit'}</th>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td class="tbl_col_date">{tmpl_var name="date"}</td>
                            <td class="tbl_col_date">{tmpl_var name="backup_type"}</td>
                            <td class="tbl_col_filename">{tmpl_var name="filename"}</td>
                            <td class="tbl_col_buttons">
                                <div class="buttons">
                                    <button class="btn " data-toggle="tooltip" title="{tmpl_var name='restore_backup_txt'}" type="button" onclick="confirm_action('sites/web_domain_edit.php?id={tmpl_var name='parent_id'}&next_tab=backup&backup_action=restore&backup_id={tmpl_var name='backup_id'}','{tmpl_var name='restore_confirm_txt'}');"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span></button>
                                    <tmpl_if name="">
                                    <button class="btn " data-toggle="tooltip" title="{tmpl_var name='download_backup_txt'}" type="button" onclick="loadContent('sites/web_domain_edit.php?id={tmpl_var name='parent_id'}&next_tab=backup&backup_action=download&backup_id={tmpl_var name='backup_id'}');"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button>
                                    </tmpl_if>
                                </div>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults">
                            <td class="text-center" colspan="4">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
            </table>
        </div>
    </div>
</div>