<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <legend>Backup</legend>
    
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="backup_interval">{tmpl_var name='backup_interval_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="backup_interval" id="backup_interval" >
                {tmpl_var name='backup_interval'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="backup_copies">{tmpl_var name='backup_copies_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="backup_copies" id="backup_copies" >
                {tmpl_var name='backup_copies'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="backup_excludes">{tmpl_var name='backup_excludes_txt'}</label>
        <div class="col-md-6">
            <div class="input-group">
                <input class="form-control" name="backup_excludes" id="backup_excludes" value="{tmpl_var name='backup_excludes'}" type="text"  />
                <div class="help-block">{tmpl_var name='backup_excludes_note_txt'}</div>
            </div>
        </div>
    </div>

    {tmpl_var name='backup_records'}

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class=" container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','sites/web_vhost_subdomain_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('sites/web_vhost_subdomain_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>