<div class="panel-heading separator">
    <h2><tmpl_var name="list_head_txt">Import DNS records from Tupa PowerDNS controlpanel</h2>
    <p><tmpl_var name="list_desc_txt"></p>
</div>


<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container-fluid ">
  
              <legend>PowerDNS Tupa import</legend>

                <div class="form-group container-fluid">
                    <label class="control-label col-md-2" for="dbhost">Tupa database hostname</label>
                    <div class="col-md-6">
                        <input class="form-control" id="dbhost" type="text" value="{tmpl_var name='dbhost'}" name="dbhost" />
                    </div>
                </div>
                <div class="form-group container-fluid">
                    <label class="control-label col-md-2" for="dbname">Tupa database name</label>
                    <div class="col-md-6">
                        <input class="form-control" id="dbname" type="text" value="{tmpl_var name='dbname'}" name="dbname" />
                    </div>
                </div>
                <div class="form-group container-fluid">
                    <label class="control-label col-md-2" for="dbuser">Tupa database user</label>
                    <div class="col-md-6">
                        <input class="form-control" id="dbuser" type="text" value="{tmpl_var name='dbuser'}" name="dbuser" />
                    </div>
                </div>
                <div class="form-group container-fluid">
                    <label class="control-label col-md-2" for="dbpassword">Tupa database password</label>
                    <div class="col-md-6">
                        <input class="form-control" id="dbpassword" type="text" value="{tmpl_var name='dbpassword'}" name="dbpassword" />
                    </div>
                </div>

                <tmpl_if name="msg">
                    <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
                </tmpl_if>
                <tmpl_if name="error">
                    <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
                </tmpl_if>

                <input type="hidden" name="id" value="{tmpl_var name='id'}">
                <input type="hidden" name="start" value="1">

                <div class="container-fluid form-group">
                    <div class="col-md-offset-2">
                        <button class="positive btn " type="button" value="Import" onClick="submitForm('pageForm','tools/dns_import_tupa.php');"><span><span class="glyphicon glyphicon-ok"></span> Start</span></button>
                        <button class="negative btn " type="button" value="Cancel" onClick="loadContent('tools/index.php');"><span class="glyphicon glyphicon-remove"></span> <span>Cancel</span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>