<h2><tmpl_var name="page_head_txt"></h2>
<p><tmpl_var name="page_desc_txt"></p>

<div class="container-fluid ">

    <!-- TODO: If user theme change is activated -->
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="app_theme">{tmpl_var name='app_theme_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="app_theme" id="app_theme">
                {tmpl_var name='app_theme'}
            </select>
        </div>
    </div>
    <!-- TODO: Limit to activated modules -->
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="startmodule">{tmpl_var name='startmodule_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="startmodule" id="startmodule">
                {tmpl_var name='startmodule'}
            </select>
        </div>
    </div>
        
    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-sm-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','tools/interface_settings.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('tools/index.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>