<ul class="menu-items">
    <tmpl_loop name="nav_top">
        <tmpl_if name="active">

            <li class="open">
                <a href="javascript:;">
                    <span class="title">
                        <tmpl_var name="title">
                    </span>
                    <span class="arrow"></span>
                </a>
                <ul style="display: block;" class="sub-menu" id="sideNav"></ul>
            </li>

        <tmpl_else>
            <li class="">
                <a href="#" onclick="capp('<tmpl_var name="module">')" >
                    <span class="title">
                        <tmpl_var name="title">
                    </span>
                </a>
            </li>
        </tmpl_if>
    </tmpl_loop>
</ul>

<script language="JavaScript" type="text/javascript">
    jQuery(document).ready(function() {
        loadSideNav();
    });
</script>


<script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>

<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="pages/js/pages-custom.js"></script><!-- pages-custom.js is different from pages.min.js so mobile menu works properly -->
<script type="text/javascript" src="js/scrigo2.js.php"></script>

<script src="assets/plugins/selectize/selectize.js" type="text/javascript"></script>

