<div class="panel-heading separator">
    <h2><tmpl_var name="list_head_txt"></h2>
    <p><tmpl_var name="list_desc_txt"></p>
</div>

<div class="panel-body">
    <div class="panel panel-default">

        <div class="panel-heading separator"><h4><tmpl_var name="list_head_txt"></h4></div>
        <div class="container-fluid table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr class="caption">
                        <th class="tbl_col_tstamp" scope="col"><tmpl_var name="tstamp_txt"></th>
                        <th class="tbl_col_server_id" scope="col"><tmpl_var name="server_id_txt"></th>
                        <th class="tbl_col_action" scope="col"><tmpl_var name="action_txt"></th>
                        <th class="tbl_col_dbtable" scope="col"><tmpl_var name="dbtable_txt"></th>
                        <th class="tbl_col_limit" scope="col">{tmpl_var name='search_limit'}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="filter">
                        <td class="tbl_col_tstamp">&nbsp;</td>
                        <td class="tbl_col_server_id"><select  class="form-control" name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                        <td class="tbl_col_action"><select  class="form-control" name="search_action">{tmpl_var name='search_action'}</select></td>
                        <td class="tbl_col_dbtable"><input  class="form-control" type="text" name="search_dbtable" value="{tmpl_var name='search_dbtable'}" /></td>
                        <td class="tbl_col_buttons">
                            <button type="button" class="btn " name="Filter" id="Filter" value="{tmpl_var name='filter_txt'}" data-toggle="tooltip" title="{tmpl_var name='filter_txt'}" onclick="submitForm('pageForm','monitor/datalog_list.php');"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                    <tmpl_loop name="records">
                        <tr>
                            <td class="tbl_col_tstamp">{tmpl_var name="tstamp"}</td>
                            <td class="tbl_col_server_id">{tmpl_var name="server_id"}</td>
                            <td class="tbl_col_action">{tmpl_var name="action"}</td>
                            <td class="tbl_col_dbtable">{tmpl_var name="dbtable"}</td>
                            <td class="tbl_col_buttons">
                                <!--<a class="button btn icoDelete" data-toggle="tooltip" title="{tmpl_var name='delete_txt'}" href="javascript: del_record('monitor/datalog_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span class="glyphicon glyphicon-remove"></span></a> -->
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults">
                            <td class="text-center" colspan="5">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="tbl_footer tbl_paging" colspan="5"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>