<div class="panel-heading separator">
    <h2><tmpl_var name="list_head_txt"></h2>
    <p><tmpl_var name="list_desc_txt"></p>
</div>

<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container-fluid ">

                <legend><tmpl_var name="zone_file_import_txt"></legend>

                <tmpl_if name="is_admin">
                    <div class="form-group container-fluid">
                        <label class="col-md-2 control-label" for="server_id">{tmpl_var name='server_id_txt'}</label>
                        <div class="col-md-3">
                            <select class="selectize form-control" name="server_id" id="server_id">
                                {tmpl_var name='server_id'}
                            </select>
                        </div>
                    </div>
                    <div class="form-group container-fluid">
                        <label class="col-md-2 control-label" for="client_group_id">{tmpl_var name='client_txt'}</label>
                        <div class="col-md-3">
                            <select class="selectize form-control" name="client_group_id" id="client_group_id">
                                {tmpl_var name='client_group_id'}
                            </select>
                        </div>
                    </div>
                </tmpl_if>
                <div class="form-group container-fluid">
                    <label class="col-md-2 control-label" for="domain">{tmpl_var name='domain_txt'}</label>
                    <div class="col-md-6">
                        <input class="form-control" name="domain" id="domain" value="{tmpl_var name='domain'}" onkeydown="keydown(event.which);" />
                        <div class="help-block"><tmpl_var name='domain_field_desc_txt'}</div>
                    </div>
                </div>
                <div class="form-group container-fluid"">
                    <label class="col-md-2 control-label" for="file">{tmpl_var name='zonefile_to_import_txt'}</label>
                    <div class="col-md-6">
                        <input name="file" id="file" type="file" />
                    </div>
                </div>

                <tmpl_if name="msg">
                    <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
                </tmpl_if>
                <tmpl_if name="error">
                    <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
                </tmpl_if>

                <input type="hidden" name="id" value="{tmpl_var name='id'}">

                <div class="container-fluid form-group">
                    <div class="col-md-offset-2">
                        <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitUploadForm('pageForm','dns/dns_import.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
                        <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('dns/dns_soa_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript" type="text/javascript">
    function keydown(keynum){
        if(keynum == 13){
            jQuery('.positive').trigger('click');
        }
    }
</script>
<script>
    $('.selectize').selectize();
</script>