<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="name">{tmpl_var name='name_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="name" id="name" value="{tmpl_var name='name'}" type="text"/>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="col-md-2 control-label" for="fields_cb">
            {tmpl_var name='fields_txt'}
        </label>
        <div class="col-md-10">
            <div id="fields_cb" class="checkbox check-success">
                {tmpl_var name='fields'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="col-md-2 control-label" for="template">{tmpl_var name='template_txt'}</label>
        <div class="col-md-6">
            <textarea class="form-control" name="template" id="template">{tmpl_var name='template'}</textarea>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="col-md-2 control-label" for="visible_cb">
            {tmpl_var name='visible_txt'}
        </label>
        <div class="col-md-10">
            <div id="visible_cb" class=" checkbox check-success">
                {tmpl_var name='visible'}
            </div>
        </div>
    </div>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','dns/dns_template_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('dns/dns_template_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>