<div class="panel-heading separator">
    <h2><tmpl_var name="pw_reset_txt"></h2>
    <p><tmpl_var name="list_desc_txt"></p>
</div>


<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container-fluid ">
  
                <tmpl_if name="msg">
                    <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
                </tmpl_if>
                <tmpl_if name="error">
                    <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
                </tmpl_if>

            <legend>{tmpl_var name='pw_reset_txt'}</legend>

                <div class="form-group container-fluid">
                    <label class="col-md-2 control-label" for="email"><em>*</em> {tmpl_var name='email_txt'}</label>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Email" name="email" id="email" value=""type="text" />
                    </div>
                </div>
                <div class="form-group container-fluid">
                    <label class="col-md-2 control-label" for="username"><em>*</em> {tmpl_var name='username_txt'}</label>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Username" name="username" id="username" value=""  type="text" />
                    </div>
                </div>

                <input type="hidden" name="s_mod" value="login" />
                <input type="hidden" name="s_pg" value="index" />

                <div class="container-fluid form-group">
                    <div class="col-md-offset-2">
                        <button class="positive btn" type="button" value="{tmpl_var name='pw_button_txt'}" onclick="submitForm('pageForm','login/password_reset.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='pw_button_txt'}</span></button>
                        <button class="negative btn" type="button" value="{tmpl_var name='back_txt'}" onclick="loadInitContent();"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='back_txt'}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>