<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

            <div class="form-group container-fluid">
                <label class="control-label col-md-2" for="name">{tmpl_var name='name_txt'}</label>
                <div class="col-md-6">
                    <input class="form-control" name="name" id="name" value="{tmpl_var name='name'}" type="text"  />
                </div>
            </div>
			<div class="form-group container-fluid">
                <label class="control-label col-md-2" for="type">{tmpl_var name='type_txt'}</label>
                <div class="col-md-3">
                    <select class="selectize form-control" name="type" id="type">
                        {tmpl_var name='type'}
                    </select>
                </div>
            </div>
			<div class="form-group container-fluid">
                <label class="control-label col-md-2" for="snippet">{tmpl_var name='snippet_txt'}</label>
                <div class="col-md-6">
                    <textarea class="form-control" name="snippet" id="snippet" >{tmpl_var name='snippet'}</textarea>
                    <div class="help-block"><span class="nginx">{tmpl_var name='variables_txt'}: </span><a href="javascript:void(0);" class="addPlaceholder nginx">{DOCROOT}</a><span class="nginx">, </span><a href="javascript:void(0);" class="addPlaceholder nginx">{FASTCGIPASS}</a></div>
                </div>
            </div>
            <div class="form-group  container-fluid">
                <label class="control-label col-md-2" for="active_cb">
                    {tmpl_var name='active_txt'}
                </label>
                <div class="col-md-10">
                    <div id="active_cb" class="checkbox check-success">
                        {tmpl_var name='active'}
                    </div>
                </div>
            </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="container-fluid form-group">
            <div class="col-sm-offset-2">
                <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/directive_snippets_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
                <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/directive_snippets_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
            </div>
        </div>

</div>
<script language="JavaScript" type="text/javascript">
		
    if(jQuery('#type').val() == 'nginx'){
        jQuery('.nginx:hidden').show();
    } else {
        jQuery('.nginx:visible').hide();
    }
    
    jQuery('#type').change(function(){
        if(jQuery(this).val() == 'nginx'){
            jQuery('.nginx:hidden').show();
        } else {
            jQuery('.nginx:visible').hide();
        }
    });
			
</script>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>