<div class="panel-heading separator">
    <h2><tmpl_var name="list_head_txt"></h2>
    <p><tmpl_var name="list_desc_txt"></p>
</div>

<div class="panel-body">
    <div class="panel panel-default">

        <div class="panel-heading separator"><h4>{tmpl_var name="toolsarea_head_txt"}</h4></div>
        <div class="gap"></div>
        <div class="container-fluid">
                <div class="container-fluid">
                    <div class="col-md-10">
                        <button class="btn" type="button" onclick="loadContent('admin/firewall_edit.php');">
                            <span><span class="glyphicon glyphicon-plus-sign"></span> {tmpl_var name="add_new_record_txt"}</span>
                        </button>
                    </div>
                </div>
        </div>

        <div class="panel-heading separator"><h4><tmpl_var name="list_head_txt"></h4></div>
        <div class="container-fluid table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr class="caption">
                        <th class="tbl_col_active" scope="col"><tmpl_var name="active_txt"></th>
                        <th class="tbl_col_server_id" scope="col"><tmpl_var name="server_id_txt"></th>
                        <th class="tbl_col_tcp_port" scope="col"><tmpl_var name="tcp_port_txt"></th>
                        <th class="tbl_col_udp_port" scope="col"><tmpl_var name="udp_port_txt"></th>
                        <th class="tbl_col_limit" scope="col">{tmpl_var name='search_limit'}</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="filter">
                    <td class="tbl_col_active"><select class="selectize form-control"  name="search_active">{tmpl_var name='search_active'}</select></td>
                    <td class="tbl_col_server_id"><select class="selectize form-control"  name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                    <td class="tbl_col_tcp_port"><input  class="form-control" type="text" name="search_tcp_port" value="{tmpl_var name='search_tcp_port'}" /></td>
                    <td class="tbl_col_udp_port"><input class="form-control"  type="text" name="search_udp_port" value="{tmpl_var name='search_udp_port'}" /></td>
                    <td class="tbl_col_buttons">
                        <button type="button" class="button btn " name="Filter" id="Filter" value="{tmpl_var name='filter_txt'}" data-toggle="tooltip" title="{tmpl_var name='filter_txt'}" onclick="submitForm('pageForm','admin/firewall_list.php');"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </td>
                </tr>
                    <tmpl_loop name="records">
                        <tr>
                            <td class="tbl_col_active"><a href="#" onclick="loadContent('admin/firewall_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="active"}</a></td>
                            <td class="tbl_col_server_id"><a href="#" onclick="loadContent('admin/firewall_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="server_id"}</a></td>
                            <td class="tbl_col_tcp_port"><a href="#" onclick="loadContent('admin/firewall_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="tcp_port"}</a></td>
                            <td class="tbl_col_udp_port"><a href="#" onclick="loadContent('admin/firewall_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="udp_port"}</a></td>
                            <td class="tbl_col_buttons">
                                <a class="btn" data-toggle="tooltip" title="{tmpl_var name='delete_txt'}" href="javascript: del_record('admin/firewall_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults">
                            <td class="text-center" colspan="5">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>

                <tfoot>
                    <tr>
                    <td class="tbl_footer tbl_paging" colspan="5"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>