<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">
  
            <div class="form-group container-fluid">
                <label class="control-label col-md-2" for="name">{tmpl_var name='name_txt'}</label>
                <div class="col-md-6">
                    <input class="form-control" name="name" id="name" value="{tmpl_var name='name'}" type="text"  />
                </div>
            </div>
            <div class="form-group container-fluid">
                <label class="control-label col-md-2" for="description">{tmpl_var name='description_txt'}</label>
                <div class="col-md-6">
                    <textarea class="form-control" name="description" id="description">{tmpl_var name='description'}</textarea>
                </div>
            </div>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="container-fluid form-group">
            <div class="col-sm-offset-2">
                <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/groups_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
                <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/groups_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
            </div>
        </div>
  
</div>