<div class="panel-heading separator">
    <h2><tmpl_var name="list_head_txt"></h2>
</div>

<div class="panel-body">
    <div class="panel panel-default">

        <div class="panel-heading separator"><h4>Tools</h4></div>
        <div class="gap"></div>
        <div class="container-fluid">
            <div class="buttons">
                <div class="col-md-10">
                    <button class="btn" type="button" onclick="loadContent('admin/iptables_edit.php');">
                        <span><span class="glyphicon glyphicon-plus-sign"></span> {tmpl_var name="add_new_rule_txt"}</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="panel-heading separator"><h4><tmpl_var name="list_head_txt"></h4></div>
        <div class="container-fluid table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr class="caption">
                        <th class="tbl_col_active" scope="col"><tmpl_var name="active_txt"></th>
                        <th class="tbl_col_server_id" scope="col"><tmpl_var name="server_id_txt"></th>
                        <th class="tbl_col_table" scope="col"><tmpl_var name="table_txt"></th>
                        <th class="tbl_col_protocol" scope="col"><tmpl_var name="protocol_txt"></th>
                        <th class="tbl_col_port" scope="col"><tmpl_var name="singleport_txt"></th>
                        <th class="tbl_col_port" scope="col"><tmpl_var name="multiport_txt"></th>
                        <th class="tbl_col_state" scope="col"><tmpl_var name="state_txt"></th>
                        <th class="tbl_col_target" scope="col"><tmpl_var name="target_txt"></th>
                        <th class="tbl_col_buttons" scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="filter">
                        <td class="tbl_col_active"><select class="selectize form-control"  name="search_active">{tmpl_var name='search_active'}</select></td>
                        <td class="tbl_col_server_id"><select class="selectize form-control"  name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                        <td class="tbl_col_table"></td>
                        <td class="tbl_col_protocol"><select class="selectize form-control"  name="search_protocol">{tmpl_var name='search_protocol'}</select></td>
                        <td class="tbl_col_singleport"></td>
                        <td class="tbl_col_multiport"></td>
                        <td class="tbl_col_state"></td>
                        <td class="tbl_col_target"><select class="selectize form-control"  name="search_target">{tmpl_var name='search_target'}</select></td>
                        <td class="tbl_col_buttons">
                            <button type="button" class="btn " name="Filter" id="Filter" value="{tmpl_var name='filter_txt'}" data-toggle="tooltip" title="{tmpl_var name='filter_txt'}" onclick="submitForm('pageForm','admin/iptables_list.php');"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                    <tmpl_loop name="records">
                        <tr>
                            <td class="tbl_col_active"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="active"}</a></td>
                            <td class="tbl_col_server_id"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="server_id"}</a></td>
                            <td class="tbl_col_table"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="table"}</a></td>
                            <td class="tbl_col_protocol"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="protocol"}</a></td>
                            <td class="tbl_col_singleport"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="singleport"}</a></td>
                            <td class="tbl_col_multiport"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="multiport"}</a></td>
                            <td class="tbl_col_state"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="state"}</a></td>
                            <td class="tbl_col_target"><a href="#" onclick="loadContent('admin/iptables_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="target"}</a></td>
                            <td class="tbl_col_buttons">
                                <a class="btn" data-toggle="tooltip" title="{tmpl_var name='delete_txt'}" href="javascript: del_record('admin/iptables_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults">
                            <td class="text-center" colspan="9">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="tbl_footer tbl_paging" colspan="9"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>