<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="php_fpm_init_script">{tmpl_var name='php_fpm_init_script_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="php_fpm_init_script" id="php_fpm_init_script" value="{tmpl_var name='php_fpm_init_script'}" type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="php_fpm_ini_dir">{tmpl_var name='php_fpm_ini_dir_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="php_fpm_ini_dir" id="php_fpm_ini_dir" value="{tmpl_var name='php_fpm_ini_dir'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="php_fpm_pool_dir">{tmpl_var name='php_fpm_pool_dir_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="php_fpm_pool_dir" id="php_fpm_pool_dir" value="{tmpl_var name='php_fpm_pool_dir'}"  type="text" />
        </div>
    </div>
            
    <input type="hidden" name="id" value="{tmpl_var name='id'}">
        
    <div class="container-fluid form-group">
        <div class="col-sm-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/server_php_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/server_php_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>