<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <legend>Rescue</legend>
    
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="try_rescue_cb">
            {tmpl_var name='try_rescue_txt'}
        </label>
        <div class="col-md-10">
            <div id="try_rescue_cb" class="checkbox check-success">
                {tmpl_var name='try_rescue'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="do_not_try_rescue_httpd_cb">
            {tmpl_var name='do_not_try_rescue_httpd_txt'}
        </label>
        <div class="col-md-10">
            <div id="do_not_try_rescue_httpd_cb" class="checkbox check-success">
                {tmpl_var name='do_not_try_rescue_httpd'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="do_not_try_rescue_mysql_cb">
            {tmpl_var name='do_not_try_rescue_mysql_txt'}
        </label>
        <div class="col-md-10">
            <div id="do_not_try_rescue_mysql_cb" class="checkbox check-success">
                {tmpl_var name='do_not_try_rescue_mysql'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="do_not_try_rescue_mail_cb">
            {tmpl_var name='do_not_try_rescue_mail_txt'}
        </label>
        <div class="col-md-10">
            <div id="do_not_try_rescue_mail_cb" class="checkbox check-success">
                {tmpl_var name='do_not_try_rescue_mail'}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <tmpl_var name="rescue_description_txt">
    </div>
        <div class="gap"></div>
    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-sm-offset-2">
            <button class="positive btn" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/server_config_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/server_config_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>