<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

            <div class="form-group container-fluid">
                <label class="control-label col-md-2" for="config_dir">{tmpl_var name='config_dir_txt'}</label>
                <div class="col-md-6">
                    <input class="form-control" name="config_dir" id="config_dir" value="{tmpl_var name='config_dir'}"type="text"  />
                </div>
            </div>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="container-fluid form-group">
            <div class="col-sm-offset-2">
                <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/server_config_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
                <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/server_config_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
            </div>
        </div>
  
</div>