<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid">

    <legend>UFW Firewall</legend>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ufw_enable_cb">
            {tmpl_var name='ufw_enable_txt'}
        </label>
        <div class="col-md-10">
            <div id="ufw_enable_cb" class="checkbox check-success">
                {tmpl_var name='ufw_enable'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ufw_manage_builtins_cb">
            {tmpl_var name='ufw_manage_builtins_txt'}
        </label>
        <div class="col-md-10">
            <div id="ufw_manage_builtins_cb" class="checkbox check-success">
                {tmpl_var name='ufw_manage_builtins'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ufw_ipv6_cb">
            {tmpl_var name='ufw_ipv6_txt'}
        </label>
        <div class="col-md-10">
            <div id="ufw_ipv6_cb" class="checkbox check-success">
                {tmpl_var name='ufw_ipv6'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ufw_default_input_policy">{tmpl_var name='ufw_default_input_policy_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="ufw_default_input_policy" id="ufw_default_input_policy" >
                {tmpl_var name='ufw_default_input_policy'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ufw_default_output_policy">{tmpl_var name='ufw_default_output_policy_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="ufw_default_output_policy" id="ufw_default_output_policy" >
                {tmpl_var name='ufw_default_output_policy'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ufw_default_forward_policy">{tmpl_var name='ufw_default_forward_policy_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="ufw_default_forward_policy" id="ufw_default_forward_policy" >
                {tmpl_var name='ufw_default_forward_policy'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ufw_default_application_policy">{tmpl_var name='ufw_default_application_policy_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="ufw_default_application_policy" id="ufw_default_application_policy" >
                {tmpl_var name='ufw_default_application_policy'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ufw_log_level">{tmpl_var name='ufw_log_level_txt'}</label>
        <div class=" col-md-3">
            <select class="selectize form-control" name="ufw_log_level" id="ufw_log_level" >
                {tmpl_var name='ufw_log_level'}
            </select>
        </div>
    </div>
            
    <input type="hidden" name="id" value="{tmpl_var name='id'}">
        
    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/server_config_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/server_config_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>