<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="package_title">{tmpl_var name='package_title_txt'}</label>
        <span>{tmpl_var name='package_title'}</span>
        <div class="col-md-6">
            <input class="form-control" name="package_title" id="package_title" value="{tmpl_var name='package_title'}" type="hidden" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="col-md-2 control-label" for="package_key">{tmpl_var name='package_key_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="package_key" id="package_key" value="{tmpl_var name='package_key'}" type="text" />
        </div>
    </div>
        
            
    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-sm-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/software_package_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/software_package_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>