<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">
	
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="dbname_prefix">{tmpl_var name='dbname_prefix_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="dbname_prefix" id="dbname_prefix" value="{tmpl_var name='dbname_prefix'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="dbuser_prefix">{tmpl_var name='dbuser_prefix_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="dbuser_prefix" id="dbuser_prefix" value="{tmpl_var name='dbuser_prefix'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ftpuser_prefix">{tmpl_var name='ftpuser_prefix_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="ftpuser_prefix" id="ftpuser_prefix" value="{tmpl_var name='ftpuser_prefix'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="shelluser_prefix">{tmpl_var name='shelluser_prefix_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="shelluser_prefix" id="shelluser_prefix" value="{tmpl_var name='shelluser_prefix'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="webdavuser_prefix">{tmpl_var name='webdavuser_prefix_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="webdavuser_prefix" id="webdavuser_prefix" value="{tmpl_var name='webdavuser_prefix'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="dblist_phpmyadmin_link_cb">
            {tmpl_var name='dblist_phpmyadmin_link_txt'}
        </label>
        <div class="col-md-10">
            <div id="dblist_phpmyadmin_link_cb" class="checkbox check-success">
                {tmpl_var name='dblist_phpmyadmin_link'}
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="phpmyadmin_url">{tmpl_var name='phpmyadmin_url_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="phpmyadmin_url" id="phpmyadmin_url" value="{tmpl_var name='phpmyadmin_url'}"  type="text" />
            <div class="help-block">{tmpl_var name='phpmyadmin_url_note_txt'} <a href="javascript:void(0);" class="addPlaceholder">[SERVERNAME]</a>, <a href="javascript:void(0);" class="addPlaceholder">[DATABASENAME]</a></div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="webftp_url">{tmpl_var name='webftp_url_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="webftp_url" id="webftp_url" value="{tmpl_var name='webftp_url'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="vhost_subdomains_cb">
            {tmpl_var name='vhost_subdomains_txt'}
        </label>
        <div class="col-md-10">
            <div id="vhost_subdomains_cb" class="checkbox check-success">
                {tmpl_var name='vhost_subdomains'}
                <span>{tmpl_var name='vhost_subdomains_note_txt'}</span>
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="client_username_web_check_disabled_cb">
            {tmpl_var name='client_username_web_check_disabled_txt'}
        </label>
        <div class="col-md-10">
            <div id="client_username_web_check_disabled_cb" class="checkbox check-success">
                {tmpl_var name='client_username_web_check_disabled'}
            </div>
        </div>
    </div>
            
    <input type="hidden" name="id" value="{tmpl_var name='id'}">
        
    <div class="container-fluid form-group">
        <div class="col-sm-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/system_config_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/users_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>