<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">
    
    <<legend><tmpl_var name="branding_txt">Branding</legend>

    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="allow_themechange_cb">
            {tmpl_var name='allow_themechange_txt'}
        </label>
        <div class="col-md-10">
            <div id="allow_themechange_cb" class=" checkbox check-succes">
                {tmpl_var name='allow_themechange'}
                <span>Allow users to change theme</span>
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/system_config_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/server_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
    
</div>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>