<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <legend>IP address</legend>
    
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="server_id">{tmpl_var name='server_id_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="server_id" id="server_id" >
                {tmpl_var name='server_id'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="ip_address">{tmpl_var name='ip_address_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="ip_address" id="ip_address" value="{tmpl_var name='ip_address'}" type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="vm_id">{tmpl_var name='vm_id_txt'}</label>
        <div class="col-md-3">
            <select class="selectize form-control" name="vm_id" id="vm_id"  disabled="disabled">
                {tmpl_var name='vm_id'}
            </select>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="reserved_cb">
            {tmpl_var name='reserved_txt'}
        </label>
        <div class="col-md-10">
            <div id="reserved_cb" class="checkbox check-success">
                {tmpl_var name='reserved'}
            </div>
        </div>
    </div>
            
    <input type="hidden" name="id" value="{tmpl_var name='id'}">
        
    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','vm/openvz_ip_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('vm/openvz_ip_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>
<script language="JavaScript" type="text/javascript">
    var vm_id = jQuery('#vm_id').val();
    jQuery('#vm_id').attr({name: 'vm_id_disabled', id: 'vm_id_disabled'});
    jQuery('#vm_id_disabled').after('<input type="hidden" name="vm_id" value="'+vm_id+'">');
    
</script>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>