<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

   <legend>Template</legend>
    
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="template_name">{tmpl_var name='template_name_txt'}</label>
            <div class="col-md-6">
                <input class="form-control" name="template_name" id="template_name" value="{tmpl_var name='template_name'}"  type="text" />
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="diskspace">{tmpl_var name='diskspace_txt'}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="diskspace" id="diskspace" value="{tmpl_var name='diskspace'}"  type="text"  />
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="ram">{tmpl_var name='ram_txt'}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="ram" id="ram" value="{tmpl_var name='ram'}"  type="text"  />
                    <div class="input-group-addon">MB</div>
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="ram_burst">{tmpl_var name='ram_burst_txt'}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="ram_burst" id="ram_burst" value="{tmpl_var name='ram_burst'}"  type="text"  />
                    <div class="input-group-addon">MB</div>
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="cpu_units">{tmpl_var name='cpu_units_txt'}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="cpu_units" id="cpu_units" value="{tmpl_var name='cpu_units'}"  type="text"  />
                    <div class="input-group-addon">(8 - 500000)</div>
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="cpu_num">{tmpl_var name='cpu_num_txt'}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="cpu_num" id="cpu_num" value="{tmpl_var name='cpu_num'}"  type="text"  />
                    <div class="input-group-addon">(1 - 64)</div>
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="cpu_limit">{tmpl_var name='cpu_limit_txt'}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="cpu_limit" id="cpu_limit" value="{tmpl_var name='cpu_limit'}"  type="text"  />
                    <div class="input-group-addon">(10 - 6400)</div>
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="io_priority">{tmpl_var name='io_priority_txt'}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="io_priority" id="io_priority" value="{tmpl_var name='io_priority'}"  type="text"  />
                    <div class="input-group-addon">(0 - 7)</div>
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="hostname">{tmpl_var name='hostname_txt'}</label>
            <div class="col-md-6">
                <input class="form-control" name="hostname" id="hostname" value="{tmpl_var name='hostname'}"  type="text"  />
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="create_dns_cb">
                {tmpl_var name='create_dns_txt'}
            </label>
            <div class="col-md-10">
                <div id="create_dns_cb" class="checkbox check-success">
                    {tmpl_var name='create_dns'}
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="nameserver">{tmpl_var name='nameserver_txt'}</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" name="nameserver" id="nameserver" value="{tmpl_var name='nameserver'}"  type="text" />
                    <div class="help-block">{tmpl_var name='nameserver_desc_txt'}</div>
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="col-md-2 control-label" for="active_cb">
                {tmpl_var name='active_txt'}
            </label>
            <div class="col-md-10">
                <div id="active_cb" class=" checkbox check-success">
                    {tmpl_var name='active'}
                </div>
            </div>
        </div>
        <div class="form-group container-fluid">
            <label class="control-label col-md-2" for="description">{tmpl_var name='description_txt'}</label>
            <div class="col-md-6">
                <textarea class="form-control" name="description" id="description" >{tmpl_var name='description'}</textarea>
            </div>
        </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','vm/openvz_template_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('vm/openvz_template_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>


<!-- switchery script -->
<script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    // Success color: #10CFBD
    elems.forEach(function(html) {
        var switchery = new Switchery(html, {color: '#10CFBD'});
    });
</script>