<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class=" container-fluid">
    
    <legend>Advanced</legend>
    
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="numproc">{tmpl_var name='numproc_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="numproc" id="numproc" value="{tmpl_var name='numproc'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="numtcpsock">{tmpl_var name='numtcpsock_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="numtcpsock" id="numtcpsock" value="{tmpl_var name='numtcpsock'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="numothersock">{tmpl_var name='numothersock_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="numothersock" id="numothersock" value="{tmpl_var name='numothersock'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="vmguarpages">{tmpl_var name='vmguarpages_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="vmguarpages" id="vmguarpages" value="{tmpl_var name='vmguarpages'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="kmemsize">{tmpl_var name='kmemsize_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="kmemsize" id="kmemsize" value="{tmpl_var name='kmemsize'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="tcpsndbuf">{tmpl_var name='tcpsndbuf_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="tcpsndbuf" id="tcpsndbuf" value="{tmpl_var name='tcpsndbuf'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="tcprcvbuf">{tmpl_var name='tcprcvbuf_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="tcprcvbuf" id="tcprcvbuf" value="{tmpl_var name='tcprcvbuf'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="othersockbuf">{tmpl_var name='othersockbuf_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="othersockbuf" id="othersockbuf" value="{tmpl_var name='othersockbuf'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="dgramrcvbuf">{tmpl_var name='dgramrcvbuf_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="dgramrcvbuf" id="dgramrcvbuf" value="{tmpl_var name='dgramrcvbuf'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="oomguarpages">{tmpl_var name='oomguarpages_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="oomguarpages" id="oomguarpages" value="{tmpl_var name='oomguarpages'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="privvmpages">{tmpl_var name='privvmpages_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="privvmpages" id="privvmpages" value="{tmpl_var name='privvmpages'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="lockedpages">{tmpl_var name='lockedpages_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="lockedpages" id="lockedpages" value="{tmpl_var name='lockedpages'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="shmpages">{tmpl_var name='shmpages_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="shmpages" id="shmpages" value="{tmpl_var name='shmpages'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="physpages">{tmpl_var name='physpages_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="physpages" id="physpages" value="{tmpl_var name='physpages'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="numfile">{tmpl_var name='numfile_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="numfile" id="numfile" value="{tmpl_var name='numfile'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="avnumproc">{tmpl_var name='avnumproc_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="avnumproc" id="avnumproc" value="{tmpl_var name='avnumproc'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="numflock">{tmpl_var name='numflock_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="numflock" id="numflock" value="{tmpl_var name='numflock'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="numpty">{tmpl_var name='numpty_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="numpty" id="numpty" value="{tmpl_var name='numpty'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="numsiginfo">{tmpl_var name='numsiginfo_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="numsiginfo" id="numsiginfo" value="{tmpl_var name='numsiginfo'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="dcachesize">{tmpl_var name='dcachesize_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="dcachesize" id="dcachesize" value="{tmpl_var name='dcachesize'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="numiptent">{tmpl_var name='numiptent_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="numiptent" id="numiptent" value="{tmpl_var name='numiptent'}"  type="text" />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="swappages">{tmpl_var name='swappages_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="swappages" id="swappages" value="{tmpl_var name='swappages'}"  type="text"  />
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="capability">{tmpl_var name='capability_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="capability" id="capability" value="{tmpl_var name='capability'}"  type="text" />
        </div>
    </div>
            
    <input type="hidden" name="id" value="{tmpl_var name='id'}">
        
    <div class=" container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','vm/openvz_template_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('vm/openvz_template_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>