<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">
  
    <legend>{tmpl_var name="head_txt"} {tmpl_var name='veid'}</legend>
            
            <tmpl_if name="msg">
                <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
            </tmpl_if>
            <tmpl_if name="error">
                <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
            </tmpl_if>
                
            <div class="form-group container-fluid">
                <label class="control-label col-md-2" for="action">{tmpl_var name='start_txt'}</label>
                <div class="col-md-10">
                    <div class="radio radio-success">
                        <input id="action" type="radio" value="start" name="action" {tmpl_var name='start_option_enabled'}/>
                    </div>
                </div>
            </div>
                
            <div class="form-group container-fluid">
                <label class="control-label col-md-2" for="action">{tmpl_var name='stop_txt'}</label>
                <div class="col-md-10">
                    <div class="radio radio-success">
                        <input id="action" type="radio" value="stop" name="action" {tmpl_var name='stop_option_enabled'}/>
                    </div>
                </div>
            </div>
                
            <div class="form-group container-fluid">
                <label class="control-label col-md-2" for="action">{tmpl_var name='restart_txt'}</label>
                <div class="col-md-10">
                    <div class="radio radio-success">
                        <input id="action" type="radio" value="restart" name="action" {tmpl_var name='restart_option_enabled'}/>
                    </div>
                </div>
            </div>
                
            <div class="form-group container-fluid">
                <label class="control-label col-md-2" for="action">{tmpl_var name='ostemplate_txt'}</label>
                <div class="col-md-10">
                    <div class="radio radio-success">
                        <input id="action" type="radio" value="ostemplate" name="action" {tmpl_var name='ostemplate_option_enabled'}/>
                     </div>   
                    <input class="form-control" name="ostemplate_name" type="text" value="{tmpl_var name='ostemplate_name'}" onclick="$('[name=action]').filter('[value=ostemplate]').attr('checked','checked');" /> &nbsp;{tmpl_var name='ostemplate_desc_txt'}
                </div>

            </div>
    
    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','vm/openvz_action.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('vm/openvz_vm_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>