<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <legend>Template</legend>

            <div class="form-group container-fluid">
                <label class="col-md-2 control-label" for="template_type">{tmpl_var name='template_type_txt'}</label>
                <div class="col-md-3">
                    <select class="selectize form-control" name="template_type" id="template_type">
                        {tmpl_var name='template_type'}
                    </select>
                </div>
            </div>
            <div class="form-group container-fluid">
                <label class="col-md-2 control-label" for="template_name">{tmpl_var name='template_name_txt'}</label>
                <div class="col-md-6">
                    <input class="form-control" name="template_name" id="template_name" value="{tmpl_var name='template_name'}" type="text" />
                </div>
            </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="container-fluid form-group">
            <div class="col-sm-offset-2">
                <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','client/client_template_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
                <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('client/client_template_list.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
            </div>
        </div>

</div>
