<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <div class="form-group container-fluid">
        <label class="col-md-2 control-label" for="email">{tmpl_var name='email_txt'}</label>
        <div class="col-md-6">
            <p class="value form-control">{tmpl_var name='email'}</p>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="control-label col-md-2" for="password">{tmpl_var name='password_txt'}</label>
        <div class="col-md-6">
            <div class="input-group">
                <input class="form-control" name="password" id="password" value="{tmpl_var name='password'}"  type="password" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('password','repeat_password');" />
                <div class="input-group-addon"><a href="javascript:void(0);" onclick="generatePassword('password','repeat_password');">{tmpl_var name='generate_password_txt'}</a></div>
            </div>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label for="passBar" class="control-label col-md-2">{tmpl_var name='password_strength_txt'}</p>
        <div class="col-md-6">
            <div class="input-group">
                <div id="passBar"></div> <span> </span>
                <span class="help-block"><span id="passText">&nbsp;</span></span>
            </div>
        </div>
    </div>

    <div class="form-group container-fluid">
        <label class="col-md-2 control-label" for="repeat_password">{tmpl_var name='repeat_password_txt'}</label>
        <div class="col-md-6">
            <input class="form-control" name="repeat_password" id="repeat_password" value="" type="password" autocomplete="off" onkeyup="checkPassMatch('password','repeat_password');" />
        </div>
    </div>

    <div id="confirmpasswordError" style="display:none;" class="alert alert-warning">{tmpl_var name='password_mismatch_txt'}</div>
    <div id="confirmpasswordOK" style="display:none;" class="alert alert-success">{tmpl_var name='password_match_txt'}</div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','mailuser/mail_user_password_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('mailuser/index.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
    
</div>