<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="container-fluid ">

    <div class="form-group container-fluid">
        <label class="col-md-2 control-label" for="email">{tmpl_var name='email_txt'}</label>
        <div class="col-md-6">
            <p class="value">{tmpl_var name='email'}</p>
        </div>
    </div>
    <div class="form-group container-fluid">
        <label class="col-md-2 control-label" for="name">{tmpl_var name='cc_txt'}</label>
        <div class="col-md-6">
            <div class="input-group">
                <input class="form-control" name="cc" id="cc" value="{tmpl_var name='cc'}" type="text" />
                <div class="help-block">{tmpl_var name='name_optional_txt'} {tmpl_var name='cc_note_txt'}</div>
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="container-fluid form-group">
        <div class="col-md-offset-2">
            <button class="positive btn " type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','mailuser/mail_user_cc_edit.php');"><span><span class="glyphicon glyphicon-ok"></span> {tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative btn " type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('mailuser/index.php');"><span><span class="glyphicon glyphicon-remove"></span> {tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>